In [2]:
from pybaseball import batting_stats

In [3]:
df = batting_stats(2019)

In [5]:
df.to_csv('baseball_stats.csv')

In [6]:
from pybaseball import schedule_and_record

In [7]:
df = schedule_and_record(2020,"NYY")

In [8]:
df.head()

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled
1,"Thursday, Jul 23",NYY,@,WSN,W,4.0,1.0,6.0,1-0,1.0,up 0.5,Cole,Scherzer,None,1:43,N,NaN,1.0,None
2,"Saturday, Jul 25",NYY,@,WSN,L,2.0,9.0,9.0,1-1,1.0,Tied,Rainey,Paxton,None,3:13,N,NaN,-1.0,None
3,"Sunday, Jul 26",NYY,@,WSN,W,3.0,2.0,9.0,2-1,1.0,Tied,Green,Doolittle,Britton,3:07,D,NaN,1.0,None
4,"Wednesday, Jul 29",NYY,@,BAL,W,9.0,3.0,9.0,3-1,1.0,Tied,Cole,Wojciechowski,None,3:12,N,NaN,2.0,None
5,"Thursday, Jul 30",NYY,@,BAL,W,8.0,6.0,9.0,4-1,1.0,up 1.0,Loaisiga,Sulser,Britton,3:06,N,NaN,3.0,None

In [9]:
from pybaseball import retrosheet

In [10]:
df = retrosheet.season_game_logs(2019)

In [12]:
df.to_csv('retrosheet_data.csv')